@model Automarket1.Model

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>Модель</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model1)
        </dd>
    </dl>
</div>
<p>

            </p>
<div>
   <a asp-action="Edit" asp-route-id="@Model?.Id"><button type="button" class="btn btn-outline-warning">Редагувати</button></a>
    <p>

            </p>
    <div>
    <a asp-action="Index"><button type="button" class="btn btn-outline-primary">Повернутися до списку</button></a>
    </div>
</div>
