@model Automarket1.Model

@{
    ViewData["Title"] = "Edit";
}

<h1>Редагувати</h1>

<h4>Модель</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Model1" class="control-label"></label>
                <input asp-for="Model1" class="form-control" />
                <span asp-validation-for="Model1" class="text-danger"></span>
            </div>
            <div>
            <p class="text-danger">@ViewData["ErrorMessage"]</p>
            </div>
            <p>

            </p>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
            <p>

            </p>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><button type="button" class="btn btn-outline-primary">Повернутися до списку</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
