@model Automarket1.Car

@{
    ViewData["Title"] = "Створення машину";
}

<h1>Створення машину</h1>

<h4>Машини</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            
            <div>
            <p class="text-danger">@ViewData["ErrorMessage"]</p>
            </div> 

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <p>

            </p>
            <div class="form-group">
                <label asp-for="ModelId" class="control-label"></label>
                <select asp-for="ModelId" class ="form-control" asp-items="ViewBag.ModelId"></select>
            </div>
            <p>

            </p>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
            <p>

            </p>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index"><button type="button" class="btn btn-outline-primary">Повернутися до списку</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
